.container {
  background-color: $white;
  width: 1300px;
  height: 600px;
  margin: 100px auto 0;
}

.header {
  text-align: center;
}

.header img {
  border-radius: 100%;
  width: $image-size;
  // TODO feedback: margin就是$image-size的一半
  margin-top: -50px;
}

.header hr {
  width: 95%;
}
