.about-me h2 {
  @extend .info-style;
}

.about-me p {
  margin-left: $resume-margin;
}

.educations h2 {
  @extend .info-style;
}

// TODO feedback:不建议使用ID选择器
#education {
  margin-left: $resume-margin;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#education li {
  display: flex;
}

.year {
  // TODO feedback:不建议用-margin控制间距
  margin-top: -20px;
}

.contents {
  background-color: $gray;
  width: 1100px;
  margin-left: 100px;
  line-height: 10px;
}
